{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Reset password
{% endblock %}


{% block content %}

    
    <div class='w-50 container alert alert-success mt-5' >
        <div class='text-center'>
            <h3 id="hello">
                An email been sent with instructions to reset your password                                    
            </h3> 
            <a href="{% url 'blog:home' %}" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
        </div>
    </div>



{% endblock %}