{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Reset password
{% endblock %}


{% block content %}

    <div class='w-50 container alert alert-success mt-5' >
        <div class='text-center'>
            <h3 >
                   
                Your password has been reset!
                You may now <a href="{% url 'authentification:login' %}">logIn Here</a>                             
            </h3> 
        </div>
    </div>

{% endblock %}


